<%- include("../../header.ejs") -%>
    <script>
        function openForm() {
            document.getElementById("reasonBox").style.display = "block";
        }
        function closeForm() {
            document.getElementById("reasonBox").style.display = "none";
        }
    </script>
    <center>
            <img alt="fotoMinifig" src=<%=minifigs[0][index].set_img_url%> height="200px" />
            <p><%=minifigs[0][index].name%></p>

            <form action="/legomasters/sort/skip"  method="post">
                <input id="btn-skip" type="submit" value="Skip">
            </form>
            <button id="btn-blacklist" onclick="openForm()">Blacklist</button>
            <form action="/legomasters/sort/blacklist" method="post">
                <div id="reasonBox">
                    <textarea id="reason" name="reason" rows="4" required></textarea>
                    <div>    
                        <input id="btn-blacklist" type="submit" value="Blacklist">
                        <button type="button" class="btn-close" onclick="closeForm()">Close</button>
                    </div>     
                </div>
            </form>

            <form class="btn-group" action="/legomasters/sort/add" method="post">
                <input id="btn-add" type="submit" value="Add">
                <h3>Beschikbare Sets</h3>
                <div>
                    <% for(let i = 0; i<minifigs[1][index].count; i++) { %>
                    <label>
                        <input type="radio" name="choiceSet" value=<%=i%> required>
                        <img alt="fotoSet" src=<%=minifigs[1][index].results[i].set_img_url%> height="200px" />
                        <p><%=minifigs[1][index].results[i].name%></p>
                    </label>
                    <% } %>
                </div>
            </form>
    </center>
<%- include("../../footer.ejs") -%>