<%- include("../header.ejs") -%>
<div>
    <div>
        <img class="set-minifig-img" alt="img-minifig" src="<%=imgUrl%>">
    </div>
    <div>
        <div>
            Naam: <%=name%> (<%=setNum%>)
        </div>
    </div>
</div>
<div>
    <h3>Onderdelen</h3>
    <% for (let i = 0; i < arrayParts.length; i++) { %>
        <div>
            <h5><%=arrayParts[i].name%></h5>
            <img src="<%=arrayParts[i].part_img_url%>">
        </div>
    <% } %>
</div>
<%- include("../footer.ejs") -%>