<%- include("../header.ejs") -%>
    <div class="center" id="minifig-info">
        <h1><%=name%> (<%=setNum%>)</h1>
            <div>
                <img class="set-minifig-img" alt="img-minifig" src="<%=imgUrl%>">
            </div>
            <h3>Onderdelen</h3>
    </div>
<div id="minifig-parts">
    <% for (let i = 0; i < arrayParts.length; i++) { %>
        <div id="parts">
            <h5><%=arrayParts[i].name%></h5>
            <img class="set-minifig-img" src="<%=arrayParts[i].part_img_url%>">
        </div>
    <% } %>
</div>
<%- include("../footer.ejs") -%>