<%- include("../header.ejs") -%>
        <h1 class="center">Overzicht</h1>
        <a class="center" href="/legomasters/blacklist"><button class="button-general">Overzicht Blacklist</button></a>

        <center>
        <table>
            <tr>
                <th>Foto minifig</th>
                <th>Naam (code)</th>
                <th>Foto set</th>
                <th>Code set</th>
            </tr>
            <%for (let i = 0; i < result.length; i++) { %>
                <tr>
                    <td scope="row"><a class="center" href="/legomasters/minifig/<%=result[i].set_num%>"><img class="set-minifig-img" alt="img-minifig" src="<%=result[i].set_img_url%>"></a></td>
                    <td><a class="center" href="/legomasters/minifig/<%=result[i].set_num%>"><%=result[i].name%> (<%=result[i].set_num%>)</a></td>
                    <td><a class="center" href="/legomasters/set/<%=result[i].selected_num%>?img=<%=result[i].selected_img_url%>"><img class="set-minifig-img" src="<%=result[i].selected_img_url%>" alt="img-set"></a></td>
                    <td><a class="center" href="/legomasters/set/<%=result[i].selected_num%>"><%=result[i].selected_num%></a></td>
                    <td>
                    <form action="/legomasters/overzicht/delete" method="post">
                        <button id="delete-minifig" type="submit">Delete</button>
                        <input type="hidden" name="minifig" value="<%=result[i].set_num%>">
                    </form>
                    </td>
                </tr>
            <% } %>
        </table>
    </center>
    <%- include("../footer.ejs") -%>