<%- include("../header.ejs") -%>
    <center>
        <h1>Overzicht</h1>
        <a href="/legomasters/blacklist"><button>Overzicht Blacklist</button></a>
        <table class="summary">
            <tr>
                <th>Picture minifig</th>
                <th>Naam (code)</th>
                <th>Picture set</th>
                <th>name set</th>
            </tr>
            <%for (let i = 0; i < result.length; i++) { %>
                <tr>
                    <td scope="row"><a href="/legomasters/minifig/<%=result[i].set_num%>"><img alt="img-minifig" src="<%=result[i].set_img_url%>"></a></td>
                    <td><a href="/legomasters/minifig/<%=result[i].set_num%>"><%=result[i].name%> (<%=result[i].set_num%>)</a></td>
                    <td><a href="/legomasters/set/<%=result[i].selected_num%>"><img src="<%=result[i].selected_img_url%>" alt="img-set"></a></td>
                    <td><a href="/legomasters/set/<%=result[i].selected_num%>"><%=result[i].selected_num%></a></td>
                    <td>
                    <form action="/legomasters/overzicht/delete" method="post">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="minifig" value="<%=result[i].set_num%>">
                    </form>
                    </td>
                </tr>
            <% } %>
        </table>
    </center>
    <%- include("../footer.ejs") -%>