<%- include("../header.ejs") -%>
    <script>
        function openForm(i) {
            document.getElementById(`reason-box-id${i}`).style.display = "block";
            document.getElementById(`edit-btn-id${i}`).style.display = "none";

        }
        function closeForm(i) {
            document.getElementById(`reason-box-id${i}`).style.display = "none";
            document.getElementById(`edit-btn-id${i}`).style.display = "initial";
        }
    </script>
    <center>
        <h1>Overzicht Blacklist</h1>
        <table>
            <tr>
                <th>Picture minifig</th>
                <th>Naam (code)</th>
                <th>Reden</th>
                <th>Edit</th>
            </tr>
            <%for (let i=0; i < result.length; i++) { %>
                <tr>
                    <td><a href="/legomasters/minifig/<%=result[i].set_num%>">
                        <center><img class="set-minifig-img" alt="img-minifig" src="<%=result[i].set_img_url%>"></a></td></center>
                    <td>
                        <center><a href="/legomasters/minifig/<%=result[i].set_num%>"><%=result[i].name%> (<%=result[i].set_num%>)</a></center>
                    </td>
                    <td>
                        <center><%=result[i].reason%></center>
                    </td>
                    <td>
                        <center><button id="edit-btn-id<%=i%>" onclick="openForm('<%=i%>')">edit</button></center>
                        <form action="/legomasters/blacklist/reason" method="post">
                            <div class="edit-reason-box" id="reason-box-id<%=i%>">
                                <input type="hidden" name="name" value="<%=result[i].name%>">
                                <p><%=result[i].name%></p>
                                <textarea name="reason" rows="4" required></textarea>
                                <div>
                                    <button type="submit" >Update reason</button>
                                    <button type="button" onclick="closeForm('<%=i%>')">Close</button>
                                </div>
                            </div>
                        </form>
                    </td>
                    
                </tr>
                <% } %>

        </table>
    </center>
    <%- include("../footer.ejs") -%>