<%- include("../header.ejs") -%>
<div class="center">
    <img class="set-minifig-img" src="<%=setImg%>" alt="img-set">
    <div>
        <p>Code Set: <%=setCode%></p>
        <p>Volledige Code: <%=fullSetCode%></p>
    </div>
</div>
<div id="minifig-parts">
        <% for (let i = 0; i < setMinifigs.results.length; i++) { %>
            <div id="parts">
                <h5><%=setMinifigs.results[i].set_name%></h5>
                <a class="center" href="/legomasters/minifig/<%=setMinifigs.results[i].set_num%>?"><img class="set-minifig-img" src="<%=setMinifigs.results[i].set_img_url%>" alt="img-minifig" ></a>
            </div>
        <% } %>
</div>
<%- include("../footer.ejs") -%>