<%- include("../header.ejs") -%>
<div>
    <img src="<%=result[0].urlImageSet%>" alt="imageSet">
    <div>
        <div>
            Code Set: <%=result[0].codeSet%>
        </div>
    </div>
</div>
<table id="setTable">
    <tr>
        <% for (let i = 0; i < result.length; i++) { %>
            <th><%=result[i].codeMinifig%></th>
        <% } %>
    </tr>
    <tr>
        <% for (let i = 0; i < result.length; i++) { %>
            <td><a href="minifig.ejs"><img src="<%=result[i].set_img_url%>"  id="imageMinifig" alt="imageMinifig" ></a></td>
        <% } %>
    </tr>
</table>
<%- include("../footer.ejs") -%>