<%- include("../header.ejs") -%>
    <center>
        <h1>Overzicht</h1>
        <table class="summary">
            <tr>
                <th>Picture minifig</th>
                <th>Code</th>
                <th>Picture set</th>
                <th>name set</th>
            </tr>
            <%for (let i = 0; i < result.length; i++) { %>
                <tr>
                    <td scope="row"><img alt="imageMinifig" src="<%=result[i].urlImageMinifig%>"></td>
                    <td><%=result[i].codeMinifig%></td>
                    <td><img src="<%=result[i].urlImageSet%>" alt="imageSet"></td>
                    <td><%=result[i].codeSet%>></td>
                </tr>
            <% } %>
        </table>
    </center>
    <%- include("../footer.ejs") -%>