<%- include("../header.ejs") -%>
    <center>
        <h1>Overzicht</h1>
        <table class="summary">
            <tr>
                <th>Picture minifig</th>
                <th>Naam (code)</th>
                <th>Picture set</th>
                <th>name set</th>
            </tr>
            <%for (let i = 0; i < result.length; i++) { %>
                <tr>
                    <td scope="row"><a href="/legomasters/minifig/<%=result[i].set_num%>"><img alt="imageMinifig" src="<%=result[i].set_img_url%>"></a></td>
                    <td><a href="/legomasters/minifig/<%=result[i].set_num%>"><%=result[i].name%> (<%=result[i].set_num%>)</a></td>
                    <td><a href="/legomasters/set/<%=result[i].selected_set_num%>"><img src="<%=result[i].selected_set_img%>" alt="imageSet"></a></td>
                    <td><a href="/legomasters/set/<%=result[i].selected_set_num%>"><%=result[i].selected_set_num%></a></td>
                </tr>
            <% } %>
        </table>
    </center>
    <%- include("../footer.ejs") -%>