<%- include("../header.ejs") -%>
    <center>
        <h1>Overzicht</h1>
        <table class="summary">
            <tr>
                <th>Picture minifig</th>
                <th>Naam (code)</th>
                <th>Picture set</th>
                <th>name set</th>
            </tr>
            <%for (let i = 0; i < result.length; i++) { %>
                <tr>
                    <td scope="row"><a href="/legomasters/minifig/<%=result[i].codeMinifig%>"><img alt="imageMinifig" src="<%=result[i].urlImageMinifig%>"></a></td>
                    <td><a href="/legomasters/minifig/<%=result[i].codeMinifig%>"><%=result[i].name%> (<%=result[i].codeMinifig%>)</a></td>
                    <td><a href="/legomasters/set/<%=result[i].codeSet%>"><img src="<%=result[i].urlImageSet%>" alt="imageSet"></a></td>
                    <td><a href="/legomasters/set/<%=result[i].codeSet%>"><%=result[i].codeSet%></a></td>
                </tr>
            <% } %>
        </table>
    </center>
    <%- include("../footer.ejs") -%>